coverage>=6.5.0
cython>=0.29.30
dask>=2022.4.1
gdown~=4.6.0
h5py>=3.6.0
jax~=0.3.17
matplotlib>=3.5.1
numpy~=1.22.0
pacfish~=0.4.3
pandas>=1.4.1
patato>=0.0.1
pybind11>=2.10.0
pydata-sphinx-theme
pylops>=2.0.0
pyopencl>=2022.1.6
scikit-learn>=1.1.0
scipy>=1.7.3
seaborn>=0.11.2
setuptools>=58.0.4
shapely>=1.8.2
simpa~=0.8.10
tabulate>=0.8.10
tqdm~=4.66.3
typing_extensions>=4.1.1
wget~=3.2
xarray>=2022.3.0
