matplotlib>=3.5.1
numpy~=1.22.0
patato>=0.0.1
coverage>=6.5.0
scipy>=1.7.3
h5py>=3.6.0
dask>=2022.4.1
xarray>=2022.3.0
pyopencl>=2022.1.6
pylops>=2.0.0
typing_extensions>=4.1.1
shapely>=1.8.2
seaborn>=0.11.2
setuptools>=58.0.4
pybind11>=2.10.0
cython>=0.29.30
scikit-learn>=1.1.0
tabulate>=0.8.10
pandas>=1.4.1
pydata-sphinx-theme
pacfish~=0.4.3
simpa~=0.8.10
jax~=0.3.17
wget~=3.2
tqdm~=4.64.0
gdown~=4.6.0