myst_parser
sphinx_rtd_theme
pydata_sphinx_theme
sphinx_book_theme
numpy
pacfish
h5py
scipy
pandas
matplotlib
matplotlib_scalebar
dask
cython
xarray
pyopencl
shapely
nbsphinx
ipython
jax[cpu]
pylops
tqdm
