cython
dask
h5py
ipython
jax[cpu]
matplotlib
myst_parser
nbsphinx
numpy
pacfish
pandas
pydata_sphinx_theme
pylops
pyopencl
scikit-fda
scikit-learn
scipy
seaborn
shapely
sphinx_book_theme
sphinx_rtd_theme
tabulate
xarray
