name: Run tests and coverage

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:


env:
  PAT_DATA_FOLDER: ${{ github.workspace }}/data

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, windows-latest, macos-latest]
        exclude:
          - python-version: "3.8"
            os: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        pip install -e .
        pip install coverage ruff
    - name: Linting
      run: |
        ruff --output-format=github --select=E9,F63,F7,F82 --target-version=py37 . # Should do wider tests in the future.
    - name: Run tests
      run: |
        cd tests
        python -m unittest
